* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #2f89c5;}
/** Shared **/

body {
    height: calc(90vh+200px);
    margin: 0 10%;
    max-width: 99vw;
    min-width: 70vw;
    background-color: #2a2a2a;
}
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #2f89c5;
    flex-wrap: wrap;
    min-height: min(40vh, 160px);
    padding: 0;
    margin: 25px 0;

}
#logo-main {
    width: max(20vh, 300px);
}
#nav-wrap {
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    margin: 25px 0;
}
#nav-wrap a {
    transition: .2s;
    font-size: 30px;
}
#nav-wrap a:hover {
    transition: .2s;
    color: silver;
    cursor: pointer;
}
#social-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 68px;
}
#social-wrap i {
    transition: .2s;
    font-size: 30px;
    margin: 25px 0;
}
#social-wrap i:hover {
    transition: .2s;
    color: silver;
    cursor: pointer;
}
#content-main {
    display: flex;
    flex-direction: column;
}

/** portfolio.html **/

#cta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: max(80vw, 200px);
    gap: 40px;
}
.cta-btn {
    display: flex;
    justify-content: center;
    padding: 28px;
    color: #2f89c5;
    background-color: #1e1e1e;
    transition: .2s;
    border: 1px solid #2f89c5;
    min-width: 160px;
    font-size: 18px;
}
.cta-btn:hover {
    color: #1e1e1e;
    background-color: silver;
    transition: .2s;
    cursor: pointer;
}
.card {
    display: flex;
    margin: 40px auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
#profile-pic{
    font-size: 300px;
    margin-top: 30px;
}

#project-carousel {
    max-width: 90vw;
}
#project-carousel img {
    max-width: 100%;
}
/** contact.html **/

#contact-form-container {
    border: 2px solid #2f89c5;
    border-radius: 6px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    transition: .2s;
}

#contact-form-container a:hover {
    color: silver;
    transition: .2s;
    border-bottom: silver;
}
#formspree-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    
}
.formspree-input {
    border: 0;
    border-bottom: 1px solid #2f89c5;
    background-color: #2a2a2a;

}
.formspree-input:focus {
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid #2f89c5;
    padding-bottom: 0;
}
#formspree-btn-submit {
    background-color: #2f89c5;
    border: 0;
    padding: 15px;
    border-radius: 100px;
    width: 100px;
    transition: .2s;
    color: silver;
    font-size: 18px;

}
#formspree-btn-submit:hover {
    background-color: silver;
    transition: .2s;
    cursor: pointer;
    color: darkslategray
}
/** skills.html **/

#skills-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    gap: 30px;
}

.tile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: min(400px, 60vw);
    margin: 25px;
    transition: .2s;
    cursor: default;
}

.tile-container:hover > .desc-links-container {
    transition: 2.6s;
    display: flex;

}
.tile-container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    outline-offset: 5px;
    font-size: 1.5rem;
    background-color: transparent;
    position: relative;
}
.tile-container-header h2 {
    text-decoration: underline;
    text-underline-offset: 14px;
}
.tile-container-header-wrapper {
    padding-bottom: 20px;
}
.tile-container-header i {
    font-size: 5rem;
}
.tile-container-desc {
    width: auto;
    list-style: none;
    padding: 1.2rem 0;
    font-size: 1.3rem
}
.desc-links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4rem;
    position: absolute;
    bottom: -28px;
    right: 10px;
    display: none;
    text-decoration: underline;
    text-underline-offset: 2px;
    padding-top: 18px
}   

/** Mobile **/

@media only screen and (max-width: 600px) {
    body {
    max-width: 99vw;
    margin: 0;
    padding: 10px;
}
  #nav-wrap {
    gap: 40px;
  }
  #profile-pic {
    font-size: 260px;
  }
  #social-wrap {
    margin: 30px 0;
  }
  #contact-msg {
    border-radius: 6px;
    display: flex;
    margin: 30px auto;
    border: 2px solid #2f89c5;
    padding: 10px;
    width: 60vw;
    }
    #skills-container {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    }
}

